##################
# GITIGNORE FILE
##################

# Logs files exclusion
administrator/logs/

# Joomla cache files exclusion
administrator/cache/

configuration.php
facileforms.config.php
.htaccess

administrator/.htaccess

# Exclusion.
error_log
administrator/error_log


# Directories
cache/
libraries/ 
