<?xml version="1.0"?>
<ruleset name="BreezingFormsNG">
    <description>PSR-12 coding standard for BreezingForms NG (Joomla 6 / PHP 8.3).</description>

    <file>administrator/components/com_breezingformsng/modules/mod_breezingforms/src</file>
    <file>administrator/components/com_breezingformsng/modules/mod_breezingforms/services</file>
    <file>administrator/components/com_breezingformsng/plugins/breezingforms/src</file>
    <file>administrator/components/com_breezingformsng/plugins/breezingforms/services</file>
    <file>administrator/components/com_breezingformsng/src/Service/AjaxStateService.php</file>
    <file>administrator/components/com_breezingformsng/src/Service/DatabaseAuditService.php</file>
    <file>components/com_breezingformsng/src/Service/Runtime</file>
    <file>components/com_breezingformsng/src/Service/Upload</file>
    <file>components/com_breezingformsng/src/Service/Rendering/JavascriptCompressor.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/JavascriptValueExporter.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ProcessorHeaderRenderer.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicFormRenderer.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/CaptchaLegacyValidationScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/CaptchaReCaptchaValidationScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/CaptchaSupportBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/CaptchaValidationRowSelector.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassNameResolver.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicHiddenInputBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicQueryListMarkupBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicQueryListSettingsBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicQueryListHeaderBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicQueryListCellBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicQueryListRowBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicQueryListFooterBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicChoiceBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicRegularButtonBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicFileUploadBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicGraphicButtonBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicCaptchaBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicStaticTextBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/FormEnvelopeMarkupBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/FileExtensionsCheckBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/EditableRecordHydrationScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/HiddenFormFieldsBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/LegacyScriptTagWrapperBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicTextInputBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicTextareaBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ClassicSelectBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ContentBuilderValueScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ContentBuilderHydrationScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ContentBuilderFileSupportBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ContentBuilderSignatureImageEncoder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/EditableRecord.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/EditableRecordLoader.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/PostRenderScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/ContentBuilderFormMetadataLoader.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickModeRendererFactory.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/FormOnloadScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QueryListRowPreparationService.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QueryListPageScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/CallbackRegistrationService.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/FormPieceExecutionService.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/SubmittedCallbackNameResolver.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/PaymentProviderDetector.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QueryListRowStateBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QueryListSelectAllScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QueryListStateLibraryBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickModeFormTagBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/HiddenFieldTrait.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/BootstrapStyleFieldTrait.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeInputBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeTextFieldStrategy.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeTextareaBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeTextareaStrategy.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeCheckboxStrategy.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeToggleFieldsParser.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeAjaxSubmitScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeBootstrapClassMapBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeCalendarOptionsBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeEditorValueBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeErrorMessageMarkupBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeErrorRuntimeConfigBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeNextPageValidationBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeOnePageCallbackScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModePreviousPageValidationBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeProgressMarkupBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeSubmitValidationBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeUploadCancelScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeUploadCompletedScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeUploadConfigurationBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeUploadEntryCallbacksBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeUploadProgressScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeUploadQueueItemMarkupBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeUploadThumbnailScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeUploadValidationScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Upload/UploadFileCleaner.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeSelectBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeMaxLengthCounterBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeGroupOptionBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeSubmitButtonBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeCalendarButtonBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeCalendarInputBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeCalendarInitScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeCaptchaUrlBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeCaptchaMarkupBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeCaptchaReloadScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeUploadOptionsBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModePagingActionBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeSubmitActionBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeHiddenFieldBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeFileInputBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModePaymentButtonBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeSignatureMarkupBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeDeactivationScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeHtmlTextareaScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeReCaptchaInitScriptBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeUploadBasePathBuilder.php</file>
    <file>components/com_breezingformsng/src/Service/Rendering/QuickMode/QuickModeSubmittedValueHydrator.php</file>
    <file>components/com_breezingformsng/src/Service/Notification/MailTemplateResolver.php</file>
    <file>components/com_breezingformsng/src/Service/Callback/CaptchaCallback.php</file>
    <file>components/com_breezingformsng/src/Service/Callback/PaymentDownloadPolicy.php</file>
    <file>components/com_breezingformsng/src/Service/Callback/PaymentDownloadService.php</file>

    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>
    <exclude-pattern>*/build/*</exclude-pattern>
    <exclude-pattern>*/coverage/*</exclude-pattern>

    <!--
        Legacy runtime surfaces are intentionally excluded until they are
        decomposed. Removing an entry is part of the corresponding refactor.
    -->
    <exclude-pattern>components/com_breezingformsng/src/Service/Runtime/CodeToolsRuntime.php</exclude-pattern>

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="sp"/>

    <rule ref="PSR12"/>

    <!-- Joomla extension entry points intentionally combine the class symbol
         with the native direct-access guard. -->
    <rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
        <severity>0</severity>
    </rule>

    <!-- Joomla task names are part of the public controller routing contract. -->
    <rule ref="PSR1.Methods.CamelCapsMethodName">
        <exclude-pattern>*/Controller/*</exclude-pattern>
    </rule>

    <!-- Joomla installer discovers this global class by its fixed name. -->
    <rule ref="PSR1.Classes.ClassDeclaration.MissingNamespace">
        <exclude-pattern>script.php</exclude-pattern>
    </rule>
    <rule ref="Squiz.Classes.ValidClassName">
        <exclude-pattern>script.php</exclude-pattern>
    </rule>
</ruleset>
